<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>CodeIsland</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.codeisland.app</string>
	<key>CFBundleName</key>
	<string>CodeIsland</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.codeisland.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>codeisland</string>
			</array>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.0.6</string>
	<key>CFBundleVersion</key>
	<string>1.0.6</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>CodeIsland needs to control terminal apps to jump to the correct window and tab when you click a session.</string>
</dict>
</plist>
